<footer>
	Made with <span id="pulsing-heart">❤️</span> in Poland
	<ul>
		<li><a href="https://codeberg.org/noevil_pl/www">Kod źródłowy</a></li>
		<li><a href="/privacy-policy">Polityka Prywatności</a></li>
		<li><a href="/terms-of-service">Regulamin</a></li>
		<li><a href="https://rejowski.xyz">Kontakt</a></li>
	</ul>
</footer>
