<div class="service-index service-index-{{ .Get 0 | lower }}">
    <div class="service-index-logo"><img src="/index-services/{{ .Get 0 | lower }}.svg" alt="{{ .Get 0 }}" height="75" /></div>
    <div class="service-index-desc">{{ .Get 2 | safeHTML }}</div>
    <div class="service-index-arrow"><a href="{{ .Get 1 }}">-></a></div>
    <a href="{{ .Get 1 }}"><span class="link"></span></a>
</div>
